#user{
    width: 100%;
}

.form_title{
    font-weight: bold;
}

.group_title{
    font-weight: bold;
}

.UHeader{
    text-align: center;
    background-color: white;
    border: solid 1px black;
    margin: 0;
    padding: 2% 0;
}

.UHeader button{
    width: 20%;
    height:20px;
}

#user_body{
    border: solid 1px black;
}

.del_ubtn{
    cursor: pointer;
    color:red;
}
/****************************************************/

.UHeader{
    text-align: center;
    border: solid 1px black;
    text-transform: capitalize;
    padding: 0;
}

.UHeader nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UHeader ul{
    list-style: none;
    padding:0 2%;
}
.UHeader ul li{
    display: inline-block;
    margin-right:20px;
    border: 1px solid gray;
    padding: 5px;
}
.UHeader ul li a{
    text-decoration: none;
    color: black;
}

.UHeader button{
    margin: 0 2%;
}