#user{
    display: flex;
}

aside{
    width: 30vw;
}

form{
    margin: 0 auto;
}

.form_title{
    font-weight: bold;
}

.group_title{
    font-weight: bold;
}

.AHeader{
    text-align: center;
    line-height: 50px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
}

.AHeader button{
    width: 80px;
    height:20px;
}

#user_body{
    border: solid 1px black;
}
/***********************************/

.SideMenu ul{
    list-style: none;
}

.SideMenu ul li a{
    text-decoration: none;
    color: black;
}

/**************************************/
.del_ubtn{
    cursor: pointer;
    color:red;
}