#user{
    width: 100%;
}

.form_title{
    font-weight: bold;
}

.group_title{
    font-weight: bold;
}

.UHeader{
    text-align: center;
    background-color: white;
    margin: 0;
    text-transform: capitalize;
    padding: 0;
}

.ULayout{
    height: 100%;
    overflow-y: scroll;
}

#user_body{
    background-color: #FFF9F9;
}

.del_ubtn{
    cursor: pointer;
    color:red;
}
/****************************************************/

.UHeader nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UHeader ul{
    list-style: none;
    display: flex;
    width: 100%;
}
.UHeader ul li{
    display: inline-block;
    padding: 0 2%;
}
.UHeader ul li a{
    text-decoration: none;
    color: black;
}

.UHeader button{
    margin: 0 2%;
}

@media only screen and (max-width: 600px) {
    .UHeader ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .UHeader button{
        margin: 0;
    }

    .UHeader nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: left;
        padding: 1%;
    }

    .UHeader ul li {
        font-size: 4rem;
    }
}