.publicheader{
    height: 6vw;
    text-align: center;
    border: solid 1px black;
    text-transform: capitalize;
    color: #9A2727;
}

.publicheader nav{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.publicheader ul{
    list-style: none;
    padding:0px;
}
.publicheader ul li{
    display: inline-block;
    margin-right:20px;
}
.publicheader ul li a{
    text-decoration: none;
    color: #9A2727;
}

.publicheader .logo{
    height: 60%;
}