.PHeader{
    text-align: center;
    border: solid 1px black;
    text-transform: capitalize;
}

.PHeader ul{
    list-style: none;
    padding:0px;
}
.PHeader ul li{
    display: inline-block;
    margin-right:20px;
}
.PHeader ul li a{
    text-decoration: none;
    color: black;
}