.recipecard-article{
    padding: 1vw;
    width: 15%;
    position: relative;
    margin: 2vw 3vw 1vw 3vw;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw 1vw rgb(0 0 0 / 10%);
}

.recipecard-article p{
    margin: 1vw 0 0 0;
    color: #9A2727;
    font-size: 1.2vw;
}

.recipecard-article .recipecard-title{
    font-weight: bold;
    width: 60%;
    font-weight: 1.5vw;
}

.recipecard-article .recipecard-text{
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.recipecard-image{
    width: 60%;
    position: absolute;
    left: 60%;
    bottom: 70%;
    border-radius: 50%;
    box-shadow: 0 0.5vw 1vw 1vw rgb(0 0 0 / 10%);
}