.Menu tr {
	color: white;
}

.Menu h1 {
	color: #9a2727;
	font-size: 4vw;
	text-align: center;
}

.Menu img{
    width: 20vw;
}

.Menu table {
	background-color: #9a2727;
	width: 80%;
	margin: 2vw auto;
	border-radius: 3vw;
    text-align: center;
}
.Menu .difficulty {
	text-align: center;
}
.Menu .theme {
	text-align: center;
}
.Menu td {
	border-top: white solid 1px;
}

.Menu .del_ubtn {
	padding: 1vw;
	margin: 1vw;
	background-color: #3f0000;
	border-radius: 1vw;
	font-weight: bold;
}

.Menu .del_ubtn:hover {
	text-decoration: underline;
}

.Menu td a {
	color: white;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #3f0000;
	display: block;
	padding: 1vw;
	margin: 1vw;
	border-radius: 1vw;
}

.Menu td a:hover {
	text-decoration: underline;
}

.Menu .createmenu {
	display: block;
	font-size: 2vw;
	text-decoration: none;
    background-color: #3F0000;
	color: white;
	font-weight: bold;
	text-align: center;
	margin: auto;
	width: 50%;
	padding: 1vw 0;
	border-radius: 1vw;
}

.MenuEdit{
    display: flex;
}

.MenuEdit .forms {
	width: 100%;
}

.MenuEdit form {
	border: 3px solid #3f0000;
	border-radius: 1vw;
	margin: 1vw auto;
}

.MenuEdit .formedit{
    width: 80%;
}

.MenuEdit .formadd{
    width: 80%;
}

.MenuEdit .items {
	width: 70%;
	margin: auto;
}

.MenuEdit .items_title {
	color: white;
	font-weight: bold;
	background-color: #9a2727;
	margin: 1vw;
	padding: 1vw 0;
	border-radius: 1vw;
	text-align: center;
}

.MenuEdit .item {
	border: 3px solid #9a2727;
	color: #9a2727;
	margin: 1vw 0;
	border-radius: 1vw;
    text-align: center;
}

.MenuEdit .group_title{
    text-align: center;
    font-size: 1.2vw;
}

.MenuEdit .form_title{
    text-transform: capitalize;
    font-size: 1.2vw;
}

.MenuEdit .item span {
	font-weight: bold;
	color: #3f0000;
}

.MenuEdit .del_ubtn {
	padding: 1vw;
	margin: 1vw;
	background-color: #3f0000;
	border-radius: 1vw;
	text-align: center;
	color: white;
	font-weight: bold;
}

.MenuEdit .del_ubtn:hover {
	text-decoration: underline;
}
