.UHeader{
    text-align: center;
    border: solid 1px black;
    text-transform: capitalize;
}

.UHeader ul{
    list-style: none;
    padding:0px;
}
.UHeader ul li{
    display: inline-block;
    margin-right:20px;
    border: 1px solid gray;
    padding: 5px;
}
.UHeader ul li a{
    text-decoration: none;
    color: black;
}