.Recipes tr {
 color: white;

}

.Recipes h1{
    color: #9A2727;
    font-size: 4vw;
    text-align: center;
}

.Recipes img{
    width: 8vw;
}

.Recipes table{
    background-color: #9A2727;
    width: 80%;
    margin: 2vw auto;
    border-radius: 3vw;
    text-align: center;
}
.Recipes .difficulty{
    text-align: center;
}
.Recipes .theme{
    text-align: center;
}
.Recipes td {
    border-top: white solid 1px;
}

.Recipes .del_ubtn{
    padding: 1vw;
    margin: 1vw;
    background-color: #3F0000;
    border-radius: 1vw;
    font-weight: bold;
}

.Recipes .del_ubtn:hover{
    text-decoration: underline;
}


.Recipes td a {
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #3F0000;
    display: block;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
}

.Recipes td a:hover {
    text-decoration: underline;
}

.Recipes .createrecipe{
    display: block;
    font-size: 2vw;
    text-decoration: none;
    background-color: #3F0000;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 1vw 0;
    border-radius: 1vw;
    
}

.Recipes .createrecipe:hover {
    text-decoration: underline;
}


.RecipeEdit{
    display: flex;
}

.RecipeEdit .forms{
    width: 100%;
}

.RecipeEdit form{
    border: 3px solid #3F0000;
    border-radius: 1vw;
    margin: 1vw auto;
}

.RecipeEdit .items{
    width: 50%;
    margin: auto;
}

.RecipeEdit .items_title{
    color: white;
    font-weight: bold;
    background-color: #9A2727;
    margin: 1vw;
    padding: 1vw 0;
    border-radius: 1vw;
    text-align: center;
}

.RecipeEdit .item{
    border: 3px solid #9A2727;
    text-align: center;
    color: #9A2727;
    margin: 1vw 0;
    border-radius: 1vw;
}

.RecipeEdit .item span{
    font-weight: bold;
    color: #3F0000;
}



.RecipeEdit .del_ubtn{
    padding: 1vw;
    margin: 1vw;
    background-color: #3F0000;
    border-radius: 1vw;
    text-align: center;
    color: white;
    font-weight: bold;
}

.RecipeEdit .del_ubtn:hover{
    text-decoration: underline;
}

.RecipeEdit .message{
    text-align: left;
}