.Menus img{
    height: 50%;
    display: block;
    margin: auto;
}
/*******************************/

.Menu section table{
    width: 100%;
    table-layout: fixed;
}

/* .Menu section th{
    border: 2px solid black;
}

.Menu section td{
    border: 2px solid black;
} */