#admin{
    width: 100%;
    display: flex;
    background-color: #3F0000;
}

.form_title{
    font-weight: bold;
}

.group_title{
    font-weight: bold;
}

.AHeader{
    text-align: center;
    line-height: 50px;
    background-color: #9A2727;
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    height: 6vw;
}

.AHeader img{
    padding: 1%;
}

.AHeader button{
    padding: 1%;
    margin: 1% 2% 1% 0;
    background-color: #3F0000;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 25%;
}

.AHeader h1{
    width: 25%;
    margin: auto 0;
    color: white;
}


.SideMenu{
    width: 15%;
    background-color: #3F0000;
    color: white;
    font-size: 1.2rem;
}
#admin_body{
    width: 85%;
    background-color: white;
}
/***********************************/

.SideMenu ul{
    list-style: none;
    font-weight: bolder;
}

.SideMenu ul li a{
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 1.1rem;
}

/**************************************/
.del_ubtn{
    cursor: pointer;
    color:red;
}

/*************************************/
.list_table {
    padding: 0 2%;
    overflow-x: scroll;
}

.list_table img{
    height: 5vw;
    max-width: 12vw;
}