#admin{
    width: 100%;
    display: flex;
    background-color: #3F0000;
}

.form_title{
    font-weight: bold;
}

.group_title{
    font-weight: bold;
}

.ALayout{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.AHeader{
    text-align: center;
    line-height: 50px;
    background-color: #9A2727;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    height: 100%;
}

.AHeader img{
    padding: 1%;
    width: 20%;
    height: fit-content;
}

.AHeader button{
    padding: 1%;
    margin: 1% 2% 1% 0;
    background-color: #3F0000;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 25%;
}

.AHeader h1{
    width: 25%;
    margin: auto 0;
    color: white;
}


.SideMenu{
    width: 15%;
    background-color: #3F0000;
    color: white;
    font-size: 1.2rem;
}
#admin_body{
    width: 85%;
    background-color: #FFF9F9;
}
/***********************************/

.SideMenu ul{
    list-style: none;
    font-weight: bolder;
}

.SideMenu ul li a{
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 1.1rem;
    white-space: nowrap;
}

/**************************************/
.del_ubtn{
    cursor: pointer;
    color:#9A2727;
}

/*************************************/
.list_table {
    padding: 0 2%;
    overflow-x: scroll;
}

.list_table img{
    height: 5vw;
    max-width: 12vw;
}

.AFooter{
    background-color: #9A2727;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    #admin {
        flex-direction: column;
    }
    #admin_body {
        width: 100%;
        font-size: 6rem;
    }

    .SideMenu {
        width: 100%;
        font-size: 3rem;
    }

    .SideMenu ul{
        text-align: center;
        margin: 0;
        padding: 0;
        width: calc(100% - 2px);
        display: flex;
        overflow-x: scroll;
        align-items: center;
    }

    .SideMenu ul ul{
        display: block;
        text-align: left;
    }

    .SideMenu ul li{
        padding: 3%;
        font-size: 4rem;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .SideMenu ul li ul li{
        padding: 0;
    }

    .SideMenu ul li a {
        font-size: 3.5rem;
        font-weight: bolder;
        font-weight: normal;
        text-transform: capitalize;
    }

    .SideMenu ul li ul li a {
        font-size: 3.5rem;
        font-weight: bolder;
        font-weight: normal;
        text-transform: capitalize;
    }

    .AHeader{
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .AHeader img {
        width: 45%;
    }

    .AHeader button {
        font-size: 3.5rem;
        padding: 3%;
        width: 80%;
        margin: 5% auto;
    }

    .AHeader h1 {
        font-size: 4rem;
        width: 100%;
    }

    .AFooter {
        font-size: 4rem;
    }
}