

@media (max-width: 850px) {
    .home{
        height: 100%;
    }
}

.recipes-searchbar{
    position: relative;
}

.recipes-searchbar .searchbar-image{
    width: 100%;
}

.searchbar-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    color: white;
    /* bottom: 88%; */
    top: 20%;
    left: 30%;
    /* margin: 0 auto; */
    width: 40%;
}

.searchbar-container .searchbar-input{
    padding: 1% 3%;
    font-size: 1.5vw;
    border-radius: 5px;
    border: none;
}

.searchbar-container .searchbar-title{
    font-size: 2vw;
    margin: auto;
    width: 80%;
    line-height: 130%;
}
.searchbar-container .searchbar-text{
    font-size: 1.5vw;
    padding: 0 3%;
    margin: 0.8% 0 2.8%;
}

section .list-title{
    color: #3F0000;
    font-weight: bolder;
}

section .left-bar{
    width: 1%;
    background: #9A2727;
    height: 80%;
}

.recipes-list{
    margin: 2% 0 2% 4%;
}

section .list-cards{
    display:flex;
    border-left: 2px solid #9A2727;
}

section .list-title{
    font-size: 170%;
}

.menus-list{
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.menus-list .menucard-article {
    width: 28%;
    position: relative;
    padding: 0 2%;
}

.menus-list .menucard-article .menucard-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 15%;
}

.menus-list .menucard-article .menucard-title{
    margin: 0;
    margin-left: 8%;
    position: absolute;
    font-size: 170%;
    width: 50%;
    bottom: 40%;
    font-weight: bolder;
    color: white;
}

.users-list{
    margin: 2% 0 2% 4%;
}